html {
    font-size : 42.666667px;
}
@media only screen and (min-width: 339px){
    html {
        font-size: 45.333334px !important;
    }
}
@media only screen and (min-width: 359px){
    html {
        font-size: 48px !important;
    }
}
@media only screen and (min-width: 374px){
    html {
        font-size: 50px !important;
    }
}
@media only screen and (min-width: 413px){
    html {
        font-size: 55.2px !important; 
    }
}
@media only screen and (min-width: 479px){
    html {
        font-size: 64px !important; 
    }
}
@media only screen and (min-width: 539px){
    html {
        font-size: 72px !important; 
    }
}
@media only screen and (min-width: 559px){
    html {
        font-size: 74.666667px !important; 
    }
}
@media only screen and (min-width: 639px){
    html {
        font-size: 85.333334px !important; 
    }
}
@media only screen and (min-width: 719px){
    html {
        font-size: 96px !important; 
    }
}
@media only screen and (min-width: 749px){
    html {
        font-size: 100px !important; 
    }
}
@media only screen and (min-width: 1079px){
    html {
        font-size: 144px !important; 
    }
}
@media only screen and (min-width: 1439px){
    html {
        font-size: 192px !important; 
    }
}